@model IEnumerable<Izposoja>
@{
    ViewData["Title"] = "Narocanja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Vsa pretekla naročanja </h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Številka naročila</th>
            <th scope="col">Film</th>
            <th scope="col">Datum Izposoje</th>
            <th scope="col">Datum Vrnitve</th>
            <th scope="col">Plačilo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
        <tr>
            <th scope="row">@data.ID</th>
            <td>
                <a asp-controller="Film" asp-action="Podrobnosti" asp-route-id="@data.Film.ID" class="text-primary">@data.Film.Naziv</a>
            </td>
            <td>@data.Datum_Od</td>
            <td>@data.Datum_Do</td>
            <td>@data.Cena</td>
        </tr>
        }
    </tbody>
</table>