@model IEnumerable<Naloga2_Tkalcic.Models.Izposoja>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vaši izdelki</h1>

@if (Model.ToList().Count < 1)
{
    <h2> V košarici ni izdelkov </h2>
}

<div>
    <form>
        @foreach (var data in Model)
        {
            <div class="form-group">
                <label>Ime Filma: @data.Film.Naziv</label>
            </div>
            <div class="form-group">
                <label asp-for="@data.Datum_Od"></label>
                <input asp-for="@data.Datum_Od.Date" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@data.Datum_Do"></label>
                <input asp-for="@data.Datum_Do" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label>@data.Cena €</label>
            </div>

        }
        <a class="btn btn-outline-success" asp-controller="Cart" asp-action="Oddaj"> Oddaj naročilo </a>
    </form>
    
</div>
